* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

header {
    background-color: #e1caca;
    padding: 20px 30px;
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 40px;
}
li{
    list-style-type: none;
}